@{
    ViewData["Title"] = "Home Page";
    ViewData["Home"] = "active";
    List<Inspection> Satisfactory = (List<Inspection>) ViewData["SatisfactoryInspections"];
    List<Inspection> Unsatisfactory = (List<Inspection>) ViewData["UnsatisfactoryInspections"];
    int Satisfac = Satisfactory.Count;
    int Unsatisfac = Unsatisfactory.Count;
    //List<Inspection> Majors = (List<Inspection>) ViewData["Top3Majors"];
    //List<Inspection> Minors = (List<Inspection>) ViewData["Top3Minors"];


}
<div class="row mt-3">
    <div class="col-6">
        <div class="small-box bg-success">
              <div class="inner">
                <h3>@Satisfac<sup style="font-size: 20px"></sup></h3>

                <p>Total Satisfactory Inspections</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
    </div>
     <div class="col-6">
        <div class="small-box bg-danger">
              <div class="inner">
                <h3>@Unsatisfac<sup style="font-size: 20px"></sup></h3>

                <p>Total Unsatisfactory Inspections</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
              <div class="card-header">
                <h3 class="card-title">Top 3 with majors satisfactory inspections</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                 @*   @for(int i = 0; i <= totalSatis ; i++)
                    {
                        <tr>
                          <td>1</td>
                          <td>@Majors[i].UserId</td>
                      
                        </tr>
                    }*@
                      
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
    </div>
        <div class="col-6">
        <div class="card">
              <div class="card-header">
                <h3 class="card-title">Top 3 with minors satisfactory inspections</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                 @*   @for(int i = 0; i <= totalSatis ; i++)
                    {
                        <tr>
                          <td>1</td>
                          <td>@Minors[i].UserId</td>
                      
                        </tr>
                    }*@          
                    
                  </tbody>
                </table>
              </div>
             
            </div>

    </div>
</div>
