@{
    ViewData["Title"] = "Home Page";
    ViewData["Home"] = "active";
}
<div class="row mt-3">
    <div class="col-6">
        <div class="small-box bg-success">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
    </div>
     <div class="col-6">
        <div class="small-box bg-danger">
              <div class="inner">
                <h3>53<sup style="font-size: 20px">%</sup></h3>

                <p>Bounce Rate</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
            </div>
    </div>
</div>


<div class="row">
    <div class="col-6">
        <div class="card">
              <div class="card-header">
                <h3 class="card-title">Top 3 with majors satisfactory inspections</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Update software</td>
                      
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Clean database</td>
                      
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Cron job running</td>
                     
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Fix and squish bugs</td>
                     
                      
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>
    </div>
        <div class="col-6">
        <div class="card">
              <div class="card-header">
                <h3 class="card-title">Top 3 with minors satisfactory inspections</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Name</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1.</td>
                      <td>Update software</td>
                      
                    </tr>
                    <tr>
                      <td>2.</td>
                      <td>Clean database</td>
                      
                    </tr>
                    <tr>
                      <td>3.</td>
                      <td>Cron job running</td>
                     
                    </tr>
                    <tr>
                      <td>4.</td>
                      <td>Fix and squish bugs</td>
                     
                      
                    </tr>
                  </tbody>
                </table>
              </div>
             
            </div>

    </div>
</div>
