@model RecordInspectionTypeViewModel
@{
    ViewData["Title"] = "Inspection Type Name record";
    ViewData["InspectionTypeNameRecord"] = "active";
}
<!-- Default box -->
<div class="row">
    <div class="col-6 mx-auto">
        <div class="card mt-3">
            <div class="card-header">
                <h3 class="card-title">Inspection Type Name record</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-controller="Home" asp-action="RecordInspectionType">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="TypeName"></label>
                        <input asp-for="TypeName" class="form-control" />
                        <span asp-validation-for="TypeName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BuildingID"></label>
                        <select asp-for="BuildingID" asp-items="Model.Buildings" class="form-control"></select>
                        <span asp-validation-for="BuildingID" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
